<div class="in_form_container borders border_radius">
  
  <div class="top_left">Pregunta</div>

  <div class="field ttip" title="Instrucción de la pregunta">
    <%= f.label :texto, "Texto" %>
    <%= f.text_field :texto, placeholder: "Pregunta" %>
  </div>

  <div class="field ttip" title="¿Sobre cuánto se califica esta pregunta?">
    <%= f.label :puntaje_maximo, "Puntaje" %>
    <%= f.number_field :puntaje_maximo, :step => "any", :min => 0 %>
  </div>

  <div class="field ttip question_kinds_fields" title="Tipo de pregunta">
    <%= f.label :kind, "Tipo" %>
    <%= f.select :kind, Question.kinds %>
  </div>

  <div class="field ttip question_boolean_fields" title="Respuesta correcta">
    <%= f.label :bool_answer, "Respuesta" %>
    <%= f.select :bool_answer, [["Verdadero", true], ["Falso", false]] %>
  </div>

  <div class="field ttip" title="Sección">
    <%= f.label :section, "Sección" %>
    <%= f.select :section, Question.sections %>
  </div>

  <%= f.fields_for :answers do |b| %>
    <%= render 'answers/form', f: b %>
  <% end -%>
  
  <%= f.link_to_add "Respuesta", :answers, :class => "crear_nuevo btn-mini ttip add_respuesta_button align_right", title: "Añadir posible respuesta" %>

  <div class="top_right"><%= f.link_to_remove "", :class => "delete_destroy btn-mini ttip", title: "Eliminar pregunta" %></div>
</div>
