<h1>Escoje una nueva contraseña</h1>

<%= form_for @user, :url => password_reset_path(@token), :html => {:method => :put} do |f| %>
  <%= form_errors_for f.object %>

  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, placeholder: "E-mail", required: true %>
  </div>
  <div class="field">
    <%= f.label :password, "Contraseña" %>
    <%= f.password_field :password, placeholder: "Contraseña para iniciar sesión" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar contraseña" %>
    <%= f.password_field :password_confirmation, placeholder: "Confirmar contraseña" %>
  </div>
  <div class="actions">
    <%= f.submit "Enviar", data: {:disable_with => 'Enviando..'} %>
  </div>
<% end %>
