<div class="navbar">
  <div class="navbar-inner">
    <%= link_to image_tag("/img/logo ok.png"), admin_path, class:"brand_img" %>
    <%= link_to "Administración", admin_path, :class => "brand" %>
    <ul class="nav">
      <li <%= navbar_active_class "users" %>>
        <%= link_to "Usuarios", admin_users_path %>
      </li>
      <li <%= navbar_active_class "courses" %>>
        <%= link_to "Cursos", admin_courses_path %>
      </li>
    </ul>
    <%= render "layouts/user_navbar" %>
  </div>
</div>
