<div class="in_form_container borders border_radius">
  
  <div class="top_left">
    Sección
  </div>

  <div class="field">
    <%= f.label :tipo, "Sección" %>
    <%= f.select :tipo, Seccion.kinds %>
  </div>
  <div class="field">
    <%= f.label :instruccion, "Instrucción" %>
    <%= f.text_field :instruccion %>
  </div>

  <div class="field ttip" title="Archivo (audio o video) adjunto a la pregunta">
    <%= f.label :media, "Archivo" %>
    <%= f.file_field :media %>
    <% if f.object.media? %>
      <div class="align_center question_media question_media_for_<%= f.object.id %>">
        <%= show_media_for f.object %>
        <div>
          <%= link_to "eliminar archivo", remove_file_course_evaluacion_path(@course, @evaluacion, question_id: f.object.id), :class => "delete_destroy btn-mini", remote: true, method: :post %>
        </div>
      </div>
    <% end %>
    <%= f.hidden_field :media_cache %>
  </div>

  <%= f.fields_for :questions do |b| %>
    <%= render 'questions/form', f: b %>
  <% end %>
  
  <%= f.link_to_add "Pregunta", :questions, :class => "crear_nuevo btn-mini ttip align_right", title: "Añadir pregunta" %>

  <div class="top_right">
    <%= f.link_to_remove "", :class => "delete_destroy btn-mini ttip", title: "Eliminar sección" %>
  </div>

</div>
