<div class="evaluacion row-fluid">
  <div class="span6">
    <div class="evaluacion_nombre"><%= evaluacion.nombre %></div>
    <div>
      <small>Creada <%= l evaluacion.created_at, format: :short %> (hace <%= time_ago_in_words evaluacion.created_at %>)</small>
    </div>
    <div>
      <%= link_to "", edit_course_evaluacion_path(@course, evaluacion), :class => "editar_edit ttip btn-mini", title: "Editar" %>
      <%= link_to "", course_evaluacion_path(@course, evaluacion), :class => "mostrar_show ttip btn-mini", title: "Mostrar" %>
      <% if evaluacion.has_preguntas_to_calificar? %>
        <%= link_to "", calificar_course_evaluacion_path(@course, evaluacion), :class => "pencil_button ttip btn-mini", title: "Calificar preguntas" %>
      <% end %>
    </div>
  </div>
  <div class="span6">
    <div><%= pluralize evaluacion.questions.count, "pregunta", "preguntas" %></div>
    <div><%= pluralize evaluacion.users.count, "usuario", "usuarios" %> han respondido esta evaluación</div>
  </div>
</div>
