<div class="evaluacion row-fluid">
  <div class="span6">
    <div class="evaluacion_nombre">
      <%= evaluacion.nombre %>
    </div>
    <div>
      <small>Creada <%= l evaluacion.created_at, format: :short %> (hace <%= time_ago_in_words evaluacion.created_at %>)</small>
    </div>
  </div>
  <div class="span6">
    <% if evaluacion.taken_by?(current_user) %>
      Tu nota:
      <%= evaluacion.score_for current_user %> / 10
      <%= link_to "Ver evaluaci칩n", view_answer_evaluacion_path(evaluacion), :class => "btn btn-small" %>
    <% else %>
      <% if evaluacion.open? %>
        <%= link_to "Responder esta evaluaci칩n", answer_evaluacion_path(evaluacion), :class => "btn btn-small" %>
      <% else %>
        Esta evaluaci칩n est치 abierta
        <% if evaluacion.available_from %>
          desde <strong><%= l evaluacion.available_from, format: :short %></strong>
        <% end %>
        <% if evaluacion.available_to %>
          hasta <strong><%= l evaluacion.available_to, format: :short %></strong>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
