<div class="align_center">
  <h1><%= @course.nombre %></h1>
</div>

<%= title (@evaluacion.new_record? ? "Nueva" : "Editar") + " evaluación" %>

<%= nested_form_for [@course, @evaluacion] do |f| %>
  
  <%= form_errors_for @evaluacion %>

  <div class="field">
    <%= f.label :nombre, "Nombre" %>
    <%= f.text_field :nombre, placeholder: "Nombre identificativo para la evaluación", required: true %>
  </div>

  <div class="field">
    <%= f.label :available_from, "Desde" %>
    <div class="datetimepicker input-append ttip" title="Desde cuándo se puede rendir la evaluación. Dejar en blanco si se puede rendir desde el momento que es creada">
      <%= f.text_field :available_from, placeholder: "Opcional", value: (f.object.available_from.strftime("%d-%m-%Y, %H:%M") if f.object.available_from) %>
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
  </div>

  <div class="field">
    <%= f.label :available_to, "Hasta" %>
    <div class="datetimepicker input-append ttip" title="Hasta cuándo se puede rendir la evaluación. Dejar en blanco si se puede rendir siempre">
      <%= f.text_field :available_to, placeholder: "Opcional", value: (f.object.available_to.strftime("%d-%m-%Y, %H:%M") if f.object.available_to) %>
      <span class="add-on"><i class="icon-calendar"></i></span>
    </div>
  </div>

  <% if @course.evaluacion_formato %>
    <div>
      <%= link_to "Ver formato para evaluaciones", formato_evaluaciones_course_path(@course), :class => "btn", target: "_blank" %>
    </div>
  <% end %>

  <div class="separator"></div>
  <%= f.fields_for :secciones do |b| %>
    <%= render 'secciones/form', f: b %>
  <% end %>
  
  <%= f.link_to_add "Sección", :secciones, :class => "crear_nuevo btn-mini ttip align_right", title: "Añadir sección" %>
  

  <div class="actions">
    <%= f.submit "Enviar", data: {:disable_with => 'Enviando..'} %>
  </div>
  <%= link_to "Cancelar", {action: :index}, :class => "atras_back" %>

<% end -%>
