<h3><%= @evaluacion.nombre %></h3>

<div class="actions">
  <small><%= pluralize @evaluacion.questions.count, "pregunta", "preguntas" %></small>
</div>

<div class="evaluacion_content">
  <% @evaluacion.questions.includes(:answers).each_with_index do |question, index| %>
    <%= render "questions/answered_question", question: question, index: index %>
  <% end %>
</div>

<div class="align_center">
  <h1><%= @evaluacion.score_for current_user %> / 10</h1>
  <% if current_user.is_teacher_in_course?(@course) %>
    <%= link_to "Eliminar esta evaluación y volver a darla", delete_my_answer_course_evaluacion_path(@course, @evaluacion) %>
  <% end %>
</div>
