<%= breadcrumb [{link: "/", text: "Cursos"}, {text: @course.nombre, link: "/courses/#{@course.id}"}, {text: "Evaluaciones", link: "/courses/#{@course.id}/evaluaciones"}, {text: "#{@evaluacion.nombre}"}] %>

<div class="align_center">
  <h1><%= @course.nombre %></h1>
</div>

<h2><%= @evaluacion.nombre %></h2>

<h3>Calificar</h3>

<div class="answers">
  <% if @users.count == 0 %>
    No hay nada que calificar aún
  <% end %>
  <% @users.each do |user| %>
    <div class="user_answer_<%= user.id %> separator a_user_answer">
      <div>
        <%= image_tag user.imagen_url(:tiny), :class => "profile_image tiny" %>
        <%= user.nombres_o_username %>
      </div>
      <div class="margin_left">
        <%= form_tag calificar_respuestas_course_evaluacion_path(@course, @evaluacion), remote: true do %>
          <% user.user_answers.where(question_id: @questions.select("questions.id")).each do |answer| %>
            <%= render "evaluacions/calificar_answer", answer: answer %>
          <% end %>

          <%= hidden_field_tag "user_id", user.id %>

          <%= submit_tag "Guardar", data: { disable_with: "Guardar" } %>
          <span class="feedback_text"></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
