<%= breadcrumb [{link: "/", text: "Cursos"}, {text: @course.nombre, link: "/courses/#{@course.id}"}, {text: "Evaluaciones"}] %>

<div class="align_center">
  <h1><%= @course.nombre %></h1>
</div>

<h2>Evaluaciones</h2>

<div class="btn-group">
  <a href="#" class="btn dropdown-toggle btn-info" data-toggle="dropdown">
    <i class="icon-plus icon-white"></i>
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <%= link_to "Nueva evaluación", new_course_evaluacion_path(@course) %>
    </li>
    <li>
      <%= link_to "Reutilizar evaluación", reuse_course_evaluacions_path(@course) %>
    </li>
  </ul>
</div>

<%= pluralize @evaluaciones.count, "evaluación", "evaluaciones" %>

<% @evaluaciones.each do |evaluacion| %>
  <%= render 'evaluacion_resume', evaluacion: evaluacion %>
<% end %>
