<h1>Usuarios</h1>

<div class="actions">
    <%= link_to 'Nuevo', new_admin_user_path, :class => "crear_nuevo" %>
</div>

<table class="datos table table-hover">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha de nacimiento</th>
      <th>Identificación</th>
      <th>Tipo de identificación</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
      <% if user.admin %>
        <div>
          <span class="label label-info">Administrador</span>
        </div>
      <% end %>
    </td>
    <td><%= user.nombres %></td>
    <td><%= user.apellidos %></td>
    <td><%= user.fecha_nacimiento %></td>
    <td><%= user.identificacion %></td>
    <td><%= user.tipo_identificacion %></td>
    <td><%= user.direccion %></td>
    <td><%= user.telefono %></td>
    <td>
      <%= link_to 'Editar', edit_admin_user_path(user), :class => 'editar_edit btn-mini' %>
      <%= link_to 'Eliminar', admin_user_path(user), method: :delete, data: { confirm: '¿Estás seguro? Esta acción es irreversible' }, :class => 'delete_destroy btn-mini' %>
    </td>
  </tr>
<% end %>
</table>
