<h1>Usuarios</h1>

<table id="datos" class="table table-hover">
    <thead>
        <tr>
            <th>username</th>
            <th>nombres</th>
            <th>apellidos</th>
            <th>fecha de nacimiento</th>
            <th>identificación</th>
            <th>tipo de identificación</th>
            <th>dirección</th>
            <th>teléfono</th>
            <th>Acciones</th>
        </tr>
    </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.nombres %></td>
    <td><%= user.apellidos %></td>
    <td><%= user.fecha_nacimiento %></td>
    <td><%= user.identificacion %></td>
    <td><%= user.tipo_identificacion %></td>
    <td><%= user.direccion %></td>
    <td><%= user.telefono %></td>
    <td><%= link_to 'editar', nil, :class => 'editar_edit' %>
        <%= link_to 'borrar', nil, method: :delete, data: { confirm: 'Estas seguro?' }, :class => 'delete_destroy' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'nuevo', new_admin_user_path, :class => "crear_nuevo" %>
