<h1>Usuarios</h1>

<div class="actions">
    <%= link_to 'Nuevo', new_admin_user_path, :class => "crear_nuevo" %>
</div>

<table id="datos" class="table table-hover">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha de nacimiento</th>
      <th>Identificación</th>
      <th>Tipo de identificación</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th></th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.nombres %></td>
    <td><%= user.apellidos %></td>
    <td><%= user.fecha_nacimiento %></td>
    <td><%= user.identificacion %></td>
    <td><%= user.tipo_identificacion %></td>
    <td><%= user.direccion %></td>
    <td><%= user.telefono %></td>
    <td>
      <%= link_to 'Editar', nil, :class => 'editar_edit btn-mini' %>
      <%= link_to 'Eliminar', nil, method: :delete, data: { confirm: 'Estas seguro?' }, :class => 'delete_destroy btn-mini' %>
    </td>
  </tr>
<% end %>
</table>
