<h1>Usuarios</h1>

<div class="actions">
    <%= link_to 'Nuevo', new_admin_user_path, :class => "crear_nuevo" %>
</div>

<table class="datos table table-hover">
  <thead>
    <tr>
      <th>Nombre de usuario</th>
      <th>Nombres</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>Identificación</th>
      <th>Dirección</th>
      <th>Teléfono</th>
      <th>Acciones</th>
    </tr>
  </thead>

<% @users.each do |user| %>
  <tr>
    <td>
      <%= user.username %>
      <div>
        <%= image_tag user.imagen_url(:tiny), :class => "profile_image tiny" %>
      </div>
      <% if user.admin %>
        <div>
          <span class="label label-info">Administrador</span>
        </div>
      <% end %>
    </td>
    <td><%= user.nombres %></td>
    <td><%= user.apellido_paterno %></td>
    <td><%= user.apellido_materno %></td>
    <td>
      <%= user.identificacion %>
      <% unless user.identificacion.blank? %>
        (<%= user.tipo_identificacion %>)
      <% end %>
    </td>
    <td><%= user.direccion %></td>
    <td><%= user.telefono %></td>
    <td class="align_center">
      <%= link_to "Calificaciones", grade_path(user), :class => "btn btn-mini" %>
      <%= link_to 'Editar', edit_admin_user_path(user), :class => 'editar_edit btn-mini' %>
      <%= link_to 'Eliminar', admin_user_path(user), method: :delete, data: { confirm: '¿Estás seguro de eliminar a '+user.username+'? Esta acción es irreversible' }, :class => 'delete_destroy btn-mini' %>
    </td>
  </tr>
<% end %>
</table>
