<% if @show_details %>
  <%= breadcrumb [{link: "/", text: "Cursos"}, {link: "/courses/#{@course.id}/", text: "#{@course.nombre}"}, {link: "/courses/#{@course.id}/evaluaciones/", text: "Evaluaciones"}, {link: "/courses/#{@course.id}/evaluaciones/#{@evaluacion.id}/respuestas", text: "#{@evaluacion.nombre}"}, {text: "#{@user.nombres_o_username}"}] %>
<% else %>
  <%= breadcrumb [{link: "/", text: "Cursos"}, {link: "/courses/#{@course.id}", text: "#{@course.nombre}"}, {text: "#{@evaluacion.nombre}"}] %>
<% end %>

<%= link_to "Imprimir", "#", onclick: "window.print()", class: "btn btn_print" %>

<div class="align_center">
  <h1><%= @course.nombre %></h1>
</div>

<h2><%= @evaluacion.nombre %></h2>

<div class="underlined_fake_input"><%= @user.nombres_o_username %></div>
<div class="underlined_fake_input"><%= l @date, format: :short %> (hace <%= time_ago_in_words @date %>)</div>

<div class="actions">
  <small><%= pluralize @evaluacion.questions.count, "pregunta", "preguntas" %></small>
</div>

<div class="evaluacion_content">
  <% @evaluacion.secciones.each_with_index do |seccion, index| %>
    <%= render "secciones/answered_seccion", seccion: seccion, index: index %>
  <% end %>
</div>

<div class="align_center">
  <h1><%= number_to_human @evaluacion.score_for(@user), precision: 2 %> / <%= number_to_human @evaluacion.max_score, precision: 2 %></h1>
  <% if @user.is_teacher_in_course?(@course) %>
    <%= link_to "Eliminar esta evaluación y volver a darla", delete_my_answer_course_evaluacion_path(@course, @evaluacion) %>
  <% end %>
</div>

<div class="actions">
  <%= link_to "Regresar", course_path(@course), class: "atras_back" %>
</div>
