<%= title (@course.new_record? ? "Nuevo" : "Editar") + " curso" %>

<%= form_for [:admin, @course] do |f| -%>
  
  <%= form_errors_for @course %>

  <div class="field">
    <%= f.label :nombre, "Nivel" %>
    <%= f.text_field :nombre %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar", data: {:disable_with => 'Enviando..'} %>
  </div>

<% end -%>
