<%= title (@course.new_record? ? "Nuevo" : "Editar") + " curso" %>

<%= form_for [:admin, @course] do |f| -%>
  
  <%= form_errors_for @course %>

  <div class="field">
    <%= f.label :nivel, "Nivel" %>
    <%= f.select :nivel, ["Tiny Kids","Children", "Tenns", "Youth"]%>
  </div>

  <div class="field">
    <%= f.label :numero, "Número" %>
    <%= f.text_field :numero, required: true %>
  </div>

  <div class="actions">
    <%= f.submit "Enviar", data: {:disable_with => 'Enviando..'} %>
  </div>

<% end -%>
