<h1>Cursos</h1>

<div class="actions">
    <%= link_to 'Nuevo', new_admin_course_path, :class => "crear_nuevo" %>
</div>

<table class="datos table table-hover">
  <thead>
    <tr>
      <th>Nivel</th>
      <th>Docente</th>
      <th></th>
    </tr>
  </thead>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.nombre %></td>
    <td><%= course.docente.info_for_select if course.docente %></td>
    <td>
      <%= link_to 'Editar', edit_admin_course_path(course), :class => 'editar_edit btn-mini' %>
      <%= link_to "Formato evaluaciones", admin_course_evaluaciones_formato_index_path(course), :class => "editar_edit btn-mini" %>
      <%= link_to 'Eliminar', admin_course_path(course), method: :delete, data: { confirm: '¿Estás seguro que deseas eliminar al curso '+course.nombre+'?' }, :class => 'delete_destroy btn-mini' %>
    </td>
  </tr>
<% end %>
</table>
